*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{ 
max-width: 1200px;
margin: auto;

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.row {
    margin-bottom: 50px;
}
.col{
float: left;
width: calc(100% / 3 - 20px);
margin: 0 10px;
}
.product{
    position: relative;
}
.product img{
    width: 100%;
    display: block;
}
.product .product-img-2{
    display: none;
}
.product:hover .product-img-1{
    display: none;
}
.product:hover .product-img-2{
    display: block;
}
.product-like{
    font-size: 15px;
    padding: 15px;
    position: absolute;
    background-color: white;
    right: 0px;
    top: 20px;
}
.product-discount{
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: 25px;
}
.product-sostenibility{
    background-color: green;
    color: white;
    position: absolute;
    left: 37px;
    bottom: 25px;
}
.product-sostenibility-2{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 25px;
}
.discounted-price{
    color: red;
}
.older-price{
    text-decoration-line: line-through;
    text-decoration-color: black;

}